<div class="row mt-4">
    <h4>Search Results</h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Word Count</th>
            <th scope="col">Snippet</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let page of pages; let i = index">
            <th scope="row">{{ i+1 }} </th>
            <td>{{ page.title }}</td>
            <td>{{ page.wordcount }}</td>
            <td>{{ page.snippet }}</td>
          </tr>
        </tbody>
    </table>
</div>