<div class="container">
    <div class="row">
      <h1>Password Generator</h1>

      <div class="input-group input-group-icon">
        <input type="number" placeholder="Enter Length" (input)="onChangeLength($event)">
        <div class="input-icon"><i class="fa fa-hashtag"></i></div>
      </div>
  
      <div class="row">
        <div class="input-group">
          <input id="letter" type="checkbox" (change)="onChangeUseLetter()">
          <label for="letter">Include Letters ( e.g. i, l, 1, L, o, 0, O )</label>
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <input id="number" type="checkbox" (change)="onChangeUseNumber()">
          <label for="number">Include Number ( e.g. 123456 )</label>
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <input id="symbol" type="checkbox" (change)="onChangeUseSymbol()">
          <label for="symbol">Include Symbols ( e.g. @#$% )</label>
        </div>
      </div>
      
      <div class="row">
        <button type="submit" class="btn-primary" (click)="onClick()">Generate</button>
      </div>
     
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Password" readonly value="{{ password }}"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>

    </div>
</div>